{% extends base.html %}

{% block title %}
        Insert a New Article
{% end %}

{% block content %}
<h1> TESTE </h1>

<form action="/new" method="post">
    Author <input type="text" name="author">
    Title <input type="text" name="title">
    Content <input type="text" name="content">
    <input type="submit" value="post" name="Submit"/>
</form>
{% end %}